<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Ledger</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        h1,h3 {
            margin-bottom: 20px;
            text-align: center;
        }
        a {
            color: #007bff;
            text-decoration: none;
            margin-right: 20px;
            display: inline-block;
            margin-bottom: 10px;
            padding: 8px 16px;
            border: 1px solid #007bff;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        a:hover {
            background-color: #007bff;
            color: white;
        }
        form {
            margin-bottom: 20px;
        }
        table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Set the table layout to fixed */
    border: 2px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /* border: 1px solid #0000ff; */
    word-wrap: break-word; /* Allow long words to be broken and wrap to the next line */
}

th {
    background-color: #f2f2f2;
    color:#007bff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#borderline{
    border-right: 2px solid #000;
}

    </style>
</head>
<body style="background-color: rgb(254, 254, 254);">
    <h1>{{ name }}'s supplier Account</h1>
    <h3>{{ firstdate }} to {{ lastdate }}</h3>
    <button onclick="toggleDetails()">Show Details</button>
    <br>
    <br>
    <div id="detailsContainer" style="display: none;">
        <input type="hidden" name="name" id="name" value="{{ currentdetails.name }}">
        <input type="text" id="mobileInput" class="mobile" value="{{ currentdetails.mobile }}" readonly>
        <input type="text" id="addressInput" class="address" value="{{ currentdetails.address }}" readonly>
        <br>
        <button onclick="editDetails()" id="editButton">Edit</button>
        <button onclick="saveDetails()" id="saveButton" style="display: none;">Save</button>
    </div>
    <a href="/supplier" class="button">Go back</a>
    <a href="/supplierentry/debit/{{name}}" class="button">Add new Payment</a>
    <a href="/supplierentry/credit/{{name}}" class="button">Add new Bill</a>
    <a target="_blank" aria-label="Chat on WhatsApp" href="https://wa.me/{{ currentdetails.mobile}}?
    text=
    Pending Payment amount :- {{ debitfine }} and fine :- {{ debitamtmore }},
    Pending Bill amount :- {{ creditfine }} and fine :- {{ creditamtmore }}
    "> 
    WhatsApp Reminder</a>
    <form method="GET" action="">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">
        <input type="submit" value="Filter" class="button">
        <!-- <label style="display: block; font-weight: bold; color: #333; margin-bottom: 10px;">Pending Bills:</label>
        <label for="pendingpayment">Amount: {{ totalcreditamt }}, Fine: {{ totalcreditfine }}</label>
        <label style="display: block; font-weight: bold; color: #333; margin-bottom: 10px;">Pending Payments:</label>
        <label for="pendingpayment">Amount: {{ totaldebitamt }}, Fine: {{ totaldebitfine }}</label> -->
    </form>
    <table>
        <thead>
            <tr>
                <th colspan="7" style="color: #FB48C4; background-color: #eedee8; text-align: center;" id="borderline">Payments</th>
                <th colspan="7" style="color: #FB48C4; background-color: #eedee8; text-align: center;">Bills</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Narration</th>
                <th>Weight</th>
                <th>%</th>
                <th>Rate</th>
                <th>Fine</th>
                <th id="borderline">Amount</th>
                <th>Date</th>
                <th>Narration</th>
                <th>Weight</th>
                <th>%</th>
                <th>Rate</th>
                <th>Fine</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td></td>
                <td>Opening balance</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ opening_balance_fine_debit }}</td>
                <td>{{ opening_balance_amt_debit }}</td>
                <td></td>
                <td>Opening balance</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ opening_balance_fine_credit }}</td>
                <td>{{ opening_balance_amt_credit }}</td>
            </tr> -->
            {% for entry in ledger_entries %}
            {% if entry.ledgeroption == 'debit' %}
                        <tr onclick="edit(this)" data-entry-id="{{ entry.id }}">
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.narration }}</td>
                        <td>{{ entry.weight }}</td>
                        <td>{{ entry.percentage }}</td>
                        <td>{{ entry.rate }}</td>
                        <td>{{ entry.fine }}</td>
                        <td id="borderline">{{ entry.amount }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% elif entry.ledgeroption == 'credit' %}
                    <tr onclick="edit(this)" data-entry-id="{{ entry.id }}">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="borderline"></td>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.narration }}</td>
                        <td>{{ entry.weight }}</td>
                        <td>{{ entry.percentage }}</td>
                        <td>{{ entry.rate }}</td>
                        <td>{{ entry.fine }}</td>
                        <td>{{ entry.amount }}</td>
                    </tr>
                    {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="borderline"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="background-color: #eedee8;;">
                <td></td>
                <td>Total Payment</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ totaldebitfine }}</td>
                <td id="borderline">{{ totaldebitamt }}</td>
                <td></td>
                <td>Total Bill</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ totalcreditfine }}</td>
                <td>{{ totalcreditamt }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="borderline"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="border-top: 1px solid black;">
                <td style="background-color: rgb(254, 0, 246);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(254, 0, 246);border-top: 2px solid black; color: white;">Pending payment</td>
                <td style="background-color: rgb(254, 0, 246);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(254, 0, 246);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(254, 0, 246);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(254, 0, 246);border-top: 2px solid black; color: white;">{{ debitfine }}</td>
                <td id="borderline" style="background-color: rgb(254, 0, 246);border-top: 2px solid black; color: white;">{{ debitamtmore }}</td>
                <td style="background-color: rgb(102, 0, 255);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(102, 0, 255);border-top: 2px solid black; color: white;">Pending bill</td>
                <td style="background-color: rgb(102, 0, 255);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(102, 0, 255);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(102, 0, 255);border-top: 2px solid black;"></td>
                <td style="background-color: rgb(102, 0, 255);border-top: 2px solid black; color: white;">{{ creditfine }}</td>
                <td style="background-color: rgb(102, 0, 255);border-top: 2px solid black; color: white;">{{ creditamtmore }}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <div style="display: flex; justify-content: end;">
    <a style="background-color: red ;color: white; border: 1px solid red;" href="#" id="deleteLink" class="button">Delete {{ name }}</a>
</div>
    <script>

function toggleDetails() {
            var detailsContainer = document.getElementById('detailsContainer');
            var showButton = document.querySelector('button');
            if (detailsContainer.style.display === 'none') {
                detailsContainer.style.display = 'block';
                showButton.textContent = 'Hide Details';
            } else {
                detailsContainer.style.display = 'none';
                showButton.textContent = 'Show Details';
            }
        }

        function editDetails() {
            var mobileInput = document.getElementById('mobileInput');
            var addressInput = document.getElementById('addressInput');
            var editButton = document.getElementById('editButton');
            var saveButton = document.getElementById('saveButton');

            mobileInput.readOnly = false;
            addressInput.readOnly = false;
            editButton.style.display = 'none';
            saveButton.style.display = 'inline-block';
        }

        function saveDetails() {
            var mobile = document.getElementById('mobileInput').value;
            var address = document.getElementById('addressInput').value;
            var name = document.getElementById('name').value;
            window.location.href = '/updatesupplier?mobile=' + encodeURIComponent(mobile) + '&address=' + encodeURIComponent(address) + '&name=' + encodeURIComponent(name);
        }

                // Function to handle the delete link click
        document.getElementById("deleteLink").addEventListener("click", function(event) {
            // Prevent the default behavior of the link
            event.preventDefault();

            // Ask the user for confirmation
            var confirmed = confirm(`Are you sure you want to delete {{name}}'s account ???`);
            if (confirmed) {
                // If confirmed, redirect to the delete URL
                var deleteUrl = "/deletesup/{{ name }}";
                window.location.href = deleteUrl;
            }
        });

        function edit(row) {
        // Get the entry ID from the row's data attribute
        const entryId = row.getAttribute('data-entry-id');

        // Construct the URL for the server request
        const url = `/edit/${entryId}/`;

        // Redirect to the server URL
        window.location.href = url;
    }
    
    </script>
</body>
</html>